body {
    background: var(--bg);
    color: var(--font-color);
    font-family: helvetica;
}

/* ul {
    font-family: Arial, Helvetica, sans-serif;
} */

li {
    list-style: circle;
}

.list {
    list-style: square;
}

/* #msg {
    font-family: monospace;
} */

.light-theme {
    --font-color: var(--black);
    --bg: var(--green);
}

.dark-theme {
    --font-color: var(--green);
    --bg: var(--black);
}

:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}